<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>头部样式设计</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css" >
</head>
<body>
<div th:fragment="myharder" >
<div id="topbar">
    <div class="container">
        <div id="topbar-location">

            <a href="#">
                <i class="layui-icon layui-icon-location" style="font-size: 15px; color: #9F9F9F"></i>
                商丘</a>
        </div>
        <div id="topbar-menu">
            <ul>
                <li>
                    <a href="/Login/users" class="red">登录</a>
                </li>
                <li class="separator">|</li>
                <li>
                    <a href="/Login/registered">免费注册</a>
                </li>
                <li class="separator">|</li>
                <li>
                    <a href="#">我的订单</a>
                </li>
                <li class="separator">|</li>
                <li>
                    <a href="#">收藏夹</a>
                </li>
                <li class="separator">|</li>
                <li>
                    <a href="#">帮助中心</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="header">
    <div class="container">
        <div id="header-logo">
            <a href="/Login/test">
                <h1>LOGO</h1>
            </a>
        </div>
        <div id="header-search">
            <div id="header-search-combobox">
                <form action="#" method="post">
                    <input type="text" name="keywords" placeholder="搜索" id="header-search-combobox-text">
                    <button type="submit" id="header-search-combobox-button">
                        <i class="layui-icon layui-icon-search" style="font-size: 20px; color: white"></i>
                    </button>
                </form>
            </div>
            <div class="clear">
                <ul id="header-search-hotkeywords">
                    <li>
                        <strong>热搜：</strong>
                    </li>
                    <li>
                        <a href="#">笔记本</a>
                    </li>
                    <li class="separator">|</li>
                    <li>
                        <a href="#">平板</a>
                    </li>
                    <li class="separator">|</li>
                    <li>
                        <a href="#">手机</a>
                    </li>
                    <li class="separator">|</li>
                    <li>
                        <a href="#">墨盒</a>
                    </li>
                    <li class="separator">|</li>
                    <li>
                        <a href="#">户外运动</a>
                    </li>
                </ul>
                <a href="#" id="header-search-advancedsearch">高级搜索</a>
            </div>
        </div>
        <div id="header-cart" onmousemove="this.style.backgroundColor='#C09'" onmouseout="this.style.backgroundColor='#E00000'">
            <i class="layui-icon layui-icon-cart"></i>
            <a href="cart.html">购物车</a>
            <strong>0</strong>
        </div>
    </div>
</div>
<div id="navigation">
    <div class="container">
        <div id="navigation-category">
            <div id="navigation-category-heading">
                <div class="float-left">
                    <i class="iconfont icon-menu"></i>
                    <strong>全部商品分类 </strong>

                </div>
                <div class="tubiao">
                    <img src="/img/sanxian.png"/>
                </div>
                <div class="float-right">
                    <i class="iconfont icon-dropdown"></i>
                </div>
            </div>

        </div>
        <div id="navigation-menu">
            <ul>
                <li>
                    <a href="#">促销</a>
                </li>
                <li>
                    <a href="#">秒杀</a>
                </li>
                <li>
                    <a href="#">优惠券</a>
                </li>
                <li>
                    <a href="#">今日特价</a>
                </li>
                <li>
                    <a href="#">百亿补贴</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>