<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sqgxy.jmp.ems_bs.mapper.LoginMapper">
    <select id="UserLogin" resultType="com.sqgxy.jmp.ems_bs.entity.User">
        select * from user where UserName=#{userName} and UserPassword=#{userPassword}
    </select>
    <insert id="InsertUser" parameterType="com.sqgxy.jmp.ems_bs.entity.User">
        insert into USER (UserName,UserPassword) values(#{userName},#{userPassword})

    </insert>
</mapper>